.App {
  text-align: center;
}
.main{
  width:100%;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 5;
   
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



