@media screen and (max-width: 80em) {
    #imgBox {
      grid-template-columns: repeat(3,1fr);
      margin: auto;
    }
  }
@media screen and (max-width: 60em) {
    #imgBox {
      grid-template-columns: repeat(2,1fr);
      margin: auto;
    }
  }
  
  @media screen and (max-width: 48em) {
    #imgBox {
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
  }